matenweekend.nl {
    log {
        output stdout
        format json
    }

    # PocketBase API and Admin
    handle /_/* {
        reverse_proxy pocketbase:8080 {
            transport http {
                read_timeout 360s
            }
        }
    }
    handle /api/* {
        reverse_proxy pocketbase:8080 {
            transport http {
                read_timeout 360s
            }
        }
    }
    
    # Frontend
    handle {
        reverse_proxy frontend:80
    }
}

# Portainer subdomain
portainer.matenweekend.nl {
    log {
        output stdout
        format json
    }
    reverse_proxy portainer:9000
}
